# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package for Java

on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]
  release:
    types: [created]
   
 # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest, windows-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: print vars
      run: |
        echo ${{ secrets.TOKEN_FOR_ARTIFACTORIES }}
        echo $GITHUB_WORKSPACE
        

    - name: Publish to GitHub Packages Apache Maven
      run: mvn clean -Pgithub-packages deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN_FOR_ARTIFACTORIES }}
        
    - name: Publish to Nexus repository
      run: mvn clean -Pnexux-repository deploy